.banner-card{
  position: relative;
}

.banner-card img{
  max-width: 100%;
  height: auto;
}

.banner-text{
  position:absolute;
  top:0;
color:white;
padding-left: 515px;
padding-top: 100px
}

form{
  top: 0;
  padding-left: 515px;
  padding-top: 200px;
position: fixed; 
width: 100%;
z-index: 1  
}

form input{
  width :500px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(46, 44, 44);
border:none;
color:azure;

}

 ::placeholder{
  padding-left: 25px;
  color: rgb(243, 240, 240);
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root{
  background-color: black;
}

.todos-list{
  width :500px;
  height: 45px;
}


.todos-list ul li {
  color:azure;
  padding-top: 20px;
  

}

.todos-list ul li h6{
  padding-right:90px;
font-size:13px;
margin-top: 20px;

}

.complete h6{
  text-decoration: line-through;
  color:grey
  
}


.todos-ul {
  /* text-decoration: none; */
  list-style-type:none;
  position:absolute;
  top: 0;
  padding-left: 515px;
  padding-top: 280px;
  border-radius: 50px;
}

.todos-ul li{
  border-bottom: 1px solid rgb(176, 170, 170);
  border-color: rgb(144, 144, 143);
  width :500px;
  height: 50px;
  /* place-content: start; */
  background-color: rgb(46, 44, 44);
  

}

.todos-ul li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  cursor: pointer;
}

.todos-ul li button{
  width: 50px;
  height: 50px;
  margin-left: 200px;
border: none;
background: none;
font-size:20px;
cursor:pointer;
}

.detail{
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(46, 44, 44);
place-items: center;
}

.detail h2{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
cursor: pointer;
}

 