.banner-card{
  position: relative;
}

.banner-card img{
  max-width: 100%;
  height: auto;
}

.banner-text{
  position:absolute;
  top:0;
color:white;
padding-left: 515px;
padding-top: 100px
}

form{
  position:absolute;
  top: 0;
  padding-left: 515px;
  padding-top: 200px
}

form input{
  width :500px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(46, 44, 44);
border:none;
color:azure;

}

 ::placeholder{
  padding-left: 25px;
  color: rgb(243, 240, 240);
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root{
  background-color: black;
}

.todos-list{
  width: 450px;

}


.todos-list ul li {
  color:azure;
  
}

.incomplete{
  text-decoration: line-through;
}

.todos-ul {
  border:1px solid white;
  text-decoration: none;
  list-style-type:none;
}

.todos-ul li{
  border-bottom: 1px solid white;
}