.banner-card{
  position: relative;
}

.banner-card img{
  max-width: 100%;
  height: auto;
}

.banner-text{
  position:absolute;
  top:0;
color:white;
padding-left: 515px;
padding-top: 100px
}

form{
  position:absolute;
  top: 0;
  padding-left: 515px;
  padding-top: 200px
}

form input{
  width :500px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(46, 44, 44);
border:none;
color:azure;

}

 ::placeholder{
  padding-left: 50px;
  color: rgb(243, 240, 240);
  font-size: large;
  font-family::Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



:root{
  background-color: black;
}